<div class="jumbotron" ng-controller="MainCtrl">
  <h1>Traffic App</h1>
  <p class="lead">
    One step Traffic Application!
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Search!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Why Was This App Made?</h4>
  <p>
    This app was made to create a quick and easy traffic app to limit the amount of time users have to look at their phone.
  </p>

  <h4>What Does This App Do?</h4>
  <p>
    This app uses a navigation feature along with traffic data to tell you if there is traffic in your area.
  </p>


</div>
